body {
    background-color: rgb(0, 0, 0);
      font-family: "Birthstone", cursive;
      color: rgb(230, 235, 240);
}
footer{
    background-color: rgb(30, 6, 245);
    color: rgb(255, 3, 3);
    position: fixed;
    bottom: 0 ;
    width: 100%;
  }
  footer p {
    text-align: center;
    font: 0.6rem;
    margin-top: 0.5rem;
  }


  